@import "common.css";
/* components */
@import "header.css";
@import "footer.css";
/* screen */
@import "index.css";
@import "login.css";
@import "singUp.css";
@import "about.css";
@import "news.css";
@import "channel.css";

@font-face {
    font-family: "Helvetica-font";
    src: url(../font/HelveticaNeueLTPro-Lt.woff) format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Helvetica-font";
    src: url(../font/HelveticaNeueLTPro-Roman.woff) format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "Helvetica-font";
    src: url(../font/HelveticaNeueLTPro-Md.woff) format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "Helvetica-font";
    src: url(../font/HelveticaNeueLTPro-Blk.woff) format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "NotoSans-font";
    src: url(../font/noto-sans-kr-v13-latin-regular.woff) format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "NotoSans-font";
    src: url(../font/noto-sans-kr-v13-latin-500.woff) format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "NotoSans-font";
    src: url(../font/noto-sans-kr-v13-latin-700.woff) format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "NotoSans-font";
    src: url(../font/noto-sans-kr-v13-latin-900.woff) format("woff");
    font-weight: 900;
}
@font-face {
    font-family: "milk";
    src: url(../font/Milk.woff) format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "NEO";
    src: url(../font/NEOTERIC.woff) format("woff");
    font-weight: normal;
}
